{% if data.count > 1 %}
<div class="margin-top-20">
    <ul class="pagination">

        <li>
            <a href="javascript:;" page=1 {% if data.current == data.prev %} style="display:none" {% endif %}>
                First </a>
        </li>
        <li>
            <a href="javascript:;" page='{{data.prev}}' {% if data.current == data.prev %} style="display:none"
                {% endif %}>
                Prev </a>
        </li>
        {% for page in data.pageNo %}
        <li {% if data.current == page %} class="active" {% endif %}><a href="javascript:;" page={{page}}>{{page}} </a>
        </li>
        {% endfor %}
        <li>
            <a href="javascript:;" page='{{data.next}}' {% if data.next-1 == data.last %} style="display:none"
                {% endif %}>
                Next </a>
        </li>
        <li>
            <a href="javascript:;" page={{data.last}} {% if data.next-1 == data.last %} style="display:none"
                {% endif %}>
                Last </a>
        </li>
    </ul>
</div>
{% endif %}
{% block js%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="../javascripts/pagination.js" type="text/javascript"></script>
{% endblock%}