 <div id="list">
 <!-- BEGIN SAMPLE TABLE PORTLET-->
  <div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Add User
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
            <a href="javascript:;" class="reload">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-scrollable">
            <table  class="table table-hover">
                <thead>
                <tbody>
                    <tr>
                        <th>
                            Sr No.
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    </thead>
                    {% set index=1 %}
                    {% for data in dataa %}
                    <tr>
                        <td>{{index}}</td>
                        <td>{{data.fullname}}</td>
                        <td>{{data.email}}</td>
                        <td>{{data.address}}</td>
                        <td><a href="/user/edit/{{data.id}}">Edit</a></td>
                        <td><a class="viewbtn" link="/user/view/{{data.id}}">View</a></td>
                        <td> <a href="/user/delete/{{data.id}}">delete</a></td>
                    </tr>
                    {%set index = index+1%}
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- END SAMPLE TABLE PORTLET-->
</div>
{% include 'pagination.html' %}