{% extends 'layout.html'%}
{% block css%}

{% endblock %}
{% block content%}
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN VALIDATION STATES-->
            <div class="portlet box yellow">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Add Technology
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                        <a href="javascript:;" class="reload">
                        </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form id="form_sample_2" class="form-horizontal">
                        <div class="form-body">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                You have some form errors. Please check below.
                            </div>
                            <div class="alert alert-success display-hide">
                                <button class="close" data-close="alert"></button>
                                Your form validation is successful!
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Technology Name <span class="required">
                                * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" id="tech" name="techName"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Salary <span class="required">
                                * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="number" id="slry" class="form-control" name="salary"/>
                                    </div>
                                </div>
                            </div>                       
                        </div>
                        <!-- <input type="text" class="form-control" name="user_id",value="{{data}}"/> -->
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green" link = "/showTech" id = "technologySave">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
            <!-- END VALIDATION STATES-->
        </div>
    </div>
    {% endblock %}
    {% block js%}
     <script>
            $('#technologySave').on('click' ,function () {
               let link=$(this).attr('link');
                $.ajax({
                    method: "POST",
                    url: link,
                    data: {user_id:"{{data}}",
                            techName:$("#tech").val(),
                            salary:$("#slry").val()

                
                },
                    success:function(data){
                        console.log("sdfgsdfgsd");
                        
                    }
                 
                });
               
                
            });
    
        </script>
   {% endblock%}