 {% extends 'layout.html'%}
{% block css %}
<link href="../stylesheets/custom.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content%}
    <div class="container">
        <div class="row">
            <div class="col-sm-10 ">

                <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>User Details
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-hover">
                    <thead>
                    <tbody>
                    <tr>
                        <th>
                             Sr No.
                        </th>
                        <th>
                             Name
                        </th>
                        <th>
                             Email
                        </th>
                        <th>
                             Address
                        </th>
                        <th>
                             Technology
                        </th>
                        <th>
                            Salary
                       </th>
                    </tr>
                    </thead>
                    {% set index=1 %}

                    {% for ress in data.Teches %}
                    <tr>
                        <td>{{index}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.email}}</td>
                        <td>{{data.address}}</td>
                        <td>{{ress.techName}}</td>
                        <td>{{ress.salary}}</td>  
                    </tr>
                    {%set index = index+1%}
                    {% endfor%}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>
 {% endblock%}
 {% block js%}
   {% endblock%}