.addlink {
  color: rgb(34, 37, 37);
  
}
a:hover {
   color: #00B7FF;
   text-decoration: none;
  }
  .addbtn{
  margin-bottom: 15px;
}
.error{
  color:red;
}
.post-image{
  height: 82px;
  width: 84px;
}
