{% extends 'layout.html'%}
{% block css%}

{% endblock %}
{% block content%}
<div class="row">
    <div class="col-md-12">
        <div id="successMessage" class="row">
            <div class="col-md-12">
                <div class="alert alert-success">
                    <strong>success!</strong>
                    {{message.info}}
                </div>
            </div>
        </div>
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet box yellow">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Add Posts
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                    <form action="/user/save_Post" method="POST" id="form_sample_2" class="form-horizontal">
                        <div class="form-body">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                You have some form errors. Please check below.
                            </div>
                            <div class="alert alert-success display-hide">
                                <button class="close" data-close="alert"></button>
                                Your form validation is successful!
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Enter Post Name <span class="required">
                                        * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" name="PostName" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Enter Caption <span class="required">
                                        * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" name="Caption" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                    <div class="col-md-4">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input type="file" id="uploadedImage" class="form-control" name="myImage" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                        <div class="col-md-4">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="hidden" id="myimg" class="form-control" name="filename" value=""/>
                                            </div>
                                        </div>
                                    </div>

                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>
{% endblock %}
{% block js%}
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-firestore.js"></script>
<script src="../javascripts/firebaseconfig.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-storage.js"></script>
<script src="../javascripts/uploadToStorage.js"></script>
{% endblock %}