{% extends 'layout.html'%}
{% block css%}

{% endblock %}
{% block content%}
<div class="row">
    <div class="col-md-12">
        <div id="successMessage" class="row">
            <div class="col-md-12">
                <div class="alert alert-success">
                    <strong>success!</strong>
                    {{message.info}}
                </div>
            </div>
        </div>
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet box yellow">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Add User
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="/admin/save_user" method="POST" id="form_sample_2" class="form-horizontal">
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            You have some form errors. Please check below.
                        </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Your form validation is successful!
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Name <span class="required">
                                    * </span>
                            </label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input type="text" class="form-control" name="fullname" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Email <span class="required">
                                    * </span>
                            </label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input type="text" class="form-control" name="email" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Address <span class="required">
                                    * </span>
                            </label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input type="text" class="form-control" name="address" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>
{% endblock %}
{% block js%}
<script>
    $(document).ready(function () {

        $("#form_sample_2").validate(
            {
                rules: {
                    fullname: {
                        required: true,
                        minlength: 3,
                        maxlength: 20,
                        lettersonly: true
                    },
                    email: {
                        required: true,
                        email: true,
                    },
                    address: {
                        required: true,
                        minlength: 3,
                        maxlength: 20
                    },
                },
                messages:
                {
                    name: {
                        required: "please enter your  name",
                        minlength: "please enter min 3 char",
                        maxlength: "please enter max 10 char",
                        lettersonly:"please enter alphabet only"
                    },
                    email: {
                        required: "please enter your  email",
                        email:"please enter your valid email"
                        
                    },
                    address:{
                        required: "please enter your  address",
                        minlength: "please enter min 3 char",
                        maxlength: "please enter max 50 char"
                    }
                }
            });
    });
</script>
{% endblock %}