{% extends 'layout.html'%}
{% block css%}

{% endblock %}
{% block content%}
<!-- BEGIN DASHBOARD STATS -->
<div class="row">
        {{data.user_type}}
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue-madison">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    {{count}}
                </div>
                <div class="desc">
                    Total Users
                </div>
            </div>
            <a class="more" href="javascript:;">
               Total Users Posts <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green-haze">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    {{postcount}}
                </div>
                <div class="desc">
                        Total Users Posts
                </div>
            </div>
            <a class="more" href="javascript:;">
                    Total Users Posts <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>
<!-- END DASHBOARD STATS -->
{% endblock %}