{% extends 'layout.html'%}
{% block css %}
<link href="../stylesheets/custom.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content%}

<div class="container">
    <div class="row">
        <div class="col-sm-10 ">
            <div id="successMessage"class="row">
                <div class="col-md-12">
                    <div class="alert alert-success">
                        <strong>success!</strong>
                        {{message.success}}
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-default addbtn"><a href="/admin/user_form" class="addlink">Add
                    user</a></button>
                    {% include 'pagination_list_user.html' %}
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/" method="POST">

                    <label>Name: </label>
                    <input readonly type="text" class="form-control" id="Name" name="fullname" value=" " /><br />
                    <label>Email: </label>
                    <input readonly type="text" class="form-control" id="Email" name="email" value=" " /><br />
                    <label>Address: </label>
                    <input readonly type="text" class="form-control" id="Address" name="address" value=" " /><br />

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock%}
{% block js%}
<!-- <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-firestore.js"></script>
<script src="../javascripts/firebaseconfig.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-storage.js"></script>
<script src="../javascripts/uploadToStorage.js"></script> -->

<script>

    $('.viewbtn').on('click', function () {
        let link = $(this).attr('link');
        $.ajax({
            method: "GET",
            url: link,
            success: function (data) {
                $('#Name').val(data.result.fullname),
                    $('#Email').val(data.result.email),
                    $('#Address').val(data.result.address),
                    console.log(data);
            }

        });
        $("#staticBackdrop").modal("show");
    });
    // for flash set timeout
    setTimeout(()=> {
    $('#successMessage').fadeOut('fast');
}, 3000); 

$("#uploadImage").on("click",function(){
    console.log("vfdsvdfvdfv=========",)
    $("#myimg").val(url)

}) 

</script>
<!-- <script src="../assets/admin/pages/scripts/ui-general.js" type="text/javascript"></script> -->
{% endblock%}