{% extends 'layout.html'%}
{% block css %}
<link href="../stylesheets/custom.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content%}

<div class="container">
    <div class="row">
        <div class="col-sm-10 ">
            <div id="successMessage"class="row">
                <div class="col-md-12">
                    <div class="alert alert-success">
                        <strong>success!</strong>
                        {{message.success}}
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-default addbtn"><a href="/user/userposts" class="addlink">Add Post</a></button>
                    <div id="list">
                        <!-- BEGIN SAMPLE TABLE PORTLET-->
                         <div class="portlet box blue">
                           <div class="portlet-title">
                               <div class="caption">
                                   <i class="fa fa-cogs"></i>Add Post
                               </div>
                               <div class="tools">
                                   <a href="javascript:;" class="collapse">
                                   </a>
                                   <a href="javascript:;" class="reload">
                                   </a>
                               </div>
                           </div>
                           <div class="portlet-body">
                               <div class="table-scrollable">
                                   <table  class="table table-hover">
                                       <thead>
                                       <tbody>
                                           <tr>
                                               <th>
                                                   Sr No.
                                               </th>
                                               <th>
                                                    user Name
                                                </th>
                                                <th>
                                                        user email
                                                    </th>
                                               <th>
                                                   Post Name
                                               </th>
                                               <th>
                                                   Post Caption
                                               </th>
                                               <th>
                                                   Post pic
                                               </th>
                                           </tr>
                                           </thead>
                                           {% set index=1 %}
                                           {% for data in data %}
                                           <tr>
                                               <td>{{index}}</td>
                                               <td>{{data.fullname}}</td>
                                               <td>{{data.email}}</td>
                                               <td>{{data.PostName}}</td>
                                               <td>{{data.Caption}}</td>
                                               <td>
													<a href="#" class="fancybox-button" data-rel="fancybox-button">
													<img class="post-image" src="{{data.filename}}" alt="">
													</a>
												</td>
                                           </tr>
                                           {%set index = index+1%}
                                           {% endfor %}
                       
                                       </tbody>
                                   </table>
                               </div>
                           </div>
                       </div>
                       <!-- END SAMPLE TABLE PORTLET-->
                       {% include 'pagination.html' %}
                       </div>
        </div>
    </div>
</div>
{% endblock%}
{% block js%}
<!-- <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-firestore.js"></script>
<script src="../javascripts/firebaseconfig.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-storage.js"></script>
<script src="../javascripts/uploadToStorage.js"></script> -->

<script>

    $('.viewbtn').on('click', function () {
        let link = $(this).attr('link');
        $.ajax({
            method: "GET",
            url: link,
            success: function (data) {
                $('#Name').val(data.result.fullname),
                    $('#Email').val(data.result.email),
                    $('#Address').val(data.result.address),
                    console.log(data);
            }

        });
        $("#staticBackdrop").modal("show");
    });
    // for flash set timeout
    setTimeout(()=> {
    $('#successMessage').fadeOut('fast');
}, 3000); 

$("#uploadImage").on("click",function(){
    console.log("vfdsvdfvdfv=========",)
    $("#myimg").val(url)

}) 

</script>
<!-- <script src="../assets/admin/pages/scripts/ui-general.js" type="text/javascript"></script> -->
{% endblock%}