{% if showList.count > 1 %}
<div class="margin-top-20">
    <ul class="pagination">

        <li>
            <a href="javascript:;" page=1 {% if showList.current == showList.prev %} style="display:none" {% endif %}>
                First </a>
        </li>
        <li>
            <a href="javascript:;" page='{{showList.prev}}' {% if showList.current == showList.prev %} style="display:none"
                {% endif %}>
                Prev </a>
        </li>
        {% for page in showList.pageNo %}
        <li {% if showList.current == page %} class="active" {% endif %}><a href="javascript:;" page={{page}}>{{page}} </a>
        </li>
        {% endfor %}
        <li>
            <a href="javascript:;" page='{{showList.next}}' {% if showList.next-1 == showList.last %} style="display:none"
                {% endif %}>
                Next </a>
        </li>
        <li>
            <a href="javascript:;" page={{showList.last}} {% if showList.next-1 == showList.last %} style="display:none"
                {% endif %}>
                Last </a>
        </li>
    </ul>
</div>
{% endif %}
{% block js%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="../javascripts/pagination.js" type="text/javascript"></script>
{% endblock%}