{% extends 'layout.html'%}
{% block css %}
<link href="../stylesheets/custom.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content%}
    <div class="container">
        <div class="row">
            <div class="col-sm-10 ">

             <button type="button" class="btn btn-default addbtn"  ><a href="/user_form" class="addlink">Add user</a></button>
                <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Add User
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-hover">
                    <thead>
                    <tbody>
                    <tr>
                        <th>
                             Sr No.
                        </th>
                        <th>
                             Name
                        </th>
                        <th>
                             Email
                        </th>
                        <th>
                             Address
                        </th>
                        <th>
                             Action
                        </th>
                    </tr>
                    </thead>
                    {% set index=1 %}
                    {% for data in data %}
                    <tr>
                        <td>{{index}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.email}}</td>
                        <td>{{data.address}}</td>
                        <td><a href="/edit/{{data.id}}">Edit</a></td>
                        <td><a class="viewbtn" link="/view/{{data.id}}">View</a></td>
                        <td> <a href="/delete/{{data.id}}">delete</a></td>
                    </tr>
                    {%set index = index+1%}
                    {% endfor %}
    
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>

    

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/" method="POST">

                        <label>Name: </label>
                        <input readonly type="text"class="form-control" id ="Name"name="name" value=" "/><br />
                        <label>Email: </label>
                        <input readonly type="text" class ="form-control" id ="Email"name="email" value=" " /><br />
                        <label>Address: </label>
                        <input readonly type="text" class="form-control" id ="Address"name="address" value=" " /><br />

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
 {% endblock%}
 {% block js%}
     <script>
            $('.viewbtn').on('click' ,function () {
               let link=$(this).attr('link');
                $.ajax({
                    method: "GET",
                    url: link,
                    success:function(data){
                        $('#Name').val(data.result.name),
                        $('#Email').val(data.result.email),
                        $('#Address').val(data.result.address),
                        console.log(data);
                    }
                 
                });
                $("#staticBackdrop").modal("show");
            });
    
        </script>
   {% endblock%}